{{ partial "amp/head" . }}

<div class="backdrop">
	<div class="backdrop-paper"></div>
</div>

<input class="toggle" type="checkbox" id="toggle-drawer">
<input class="toggle" type="checkbox" id="toggle-search">
<label class="toggle-button overlay" for="toggle-drawer"></label>

<header class="header">{{ partial "amp/header" . }}</header>

<main class="main">
	<div class="drawer">{{ partial "amp/drawer" . }}</div>

	<article class="article">
		<div class="wrapper">
			<h1>{{ .Title }} {{ if .IsDraft }} (Draft){{ end }}
				<aside class="dates">{{ .Date.Format "Jan 2 2006" }}</aside>
			</h1>
			<hr> {{ .Content }} {{ partial "tags" . }}
			<hr> {{ partial "latest-posts" . }}
			<hr> {{ partial "copyright" . }}
		</div>
	</article>

	<div class="results" role="status" aria-live="polite">
		<div class="scrollable">
			<div class="wrapper">
				<div class="meta"></div>
				<div class="list"></div>
			</div>
		</div>
	</div>
</main>

{{ partial "amp/google-analytics" . }}
