    {{ with resources.Get "javascripts/application.js" | fingerprint }}<script src="{{ .Permalink }}"></script>{{ end }}
    {{- if .IsPage }}
    {{- with resources.Get "javascripts/scrollspy.min.js" | resources.ExecuteAsTemplate "javascripts/scrollspy.js" . }}
    <script>{{ .Content | safeJS }}</script>{{ end -}}
    {{ if ne .Params.code false }}
    {{- $highlight := resources.Get "javascripts/highlightjs/highlight.min.js" -}}
    {{- $go := resources.Get "javascripts/highlightjs/go.min.js" -}}
    {{- with slice $highlight $go | resources.Concat "javascripts/bundle-highlight.min.js" | resources.Fingerprint -}}
    <script>loadScript({{ .Permalink }},function(){document.querySelectorAll("article.article pre code[class^=language]").forEach(n => hljs.highlightBlock(n))})</script>
    {{- end -}}
    {{- end }}
    {{- if .Params.math }}
    {{- with resources.Get "javascripts/katex/auto-render.min.js" }}
    <script>
      {{ .Content | safeJS }}
      loadScript('https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js',function(){ renderMathInElements(document.getElementsByClassName('math'),{displayMode:true}) })
    </script>
    {{- end -}}
    {{- end -}}
    {{- end -}}
  </body>
</html>
