    {{ with resources.Get "javascripts/application.js" | fingerprint }}<script src="{{ .Permalink }}" integrity="{{ .Data.Integrity }}"></script>{{ end }}
    {{- if .IsPage }}
    {{- with resources.Get "javascripts/scrollspy.js" | resources.ExecuteAsTemplate "javascripts/scrollspy.js" . | resources.Minify }}
    <script>{{ .Content | safeJS }}</script>{{ end -}}
    {{ if ne .Params.code false }}
    <script>head.load('https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js',function(){hljs.initHighlightingOnLoad();})</script>
    {{- end }}{{ end }}
  </body>
</html>
