{{ if not .IsPage }} {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<nav class="pagination" aria-label="Footer">
  <div class="previous">
    {{ if .Paginator.HasPrev }}
    <a href="{{ .Paginator.Prev.URL }}" title="{{ .Site.Params.newerPosts | default " Newer Posts " }}">
      <div class="page">
        <div class="button button-previous" role="button" aria-label="Previous">
          <i class="icon icon-back"></i>
        </div>
        <div class="stretch">
          <div class="title">
            {{ .Site.Params.newerPosts | default "Newer Posts" }}
          </div>
        </div>
      </div>
    </a>
    {{ end }}
  </div>
  <div class="next">
    {{if .Paginator.HasNext }}
    <a href="{{ .Paginator.Next.URL }}" title="{{ .Site.Params.olderPosts | default " Older Posts " }}">
      <div class="page">
        <div class="stretch">
          <div class="title">
            {{ .Site.Params.olderPosts | default "Older Posts" }}
          </div>
        </div>
        <div class="button button-next" role="button" aria-label="Next">
          <i class="icon icon-forward"></i>
        </div>
      </div>
    </a>
    {{ end }}
  </div>
</nav>
{{ end }} {{ end }}