{{ if .IsPage }} {{ $ISO8601 := "2006-01-02T15:04:05-07:00" }} {{ $images := .Resources.ByType "image" }} {{ $logo := $.Site.Params.logo}}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  "name": "{{ .Title }}",
  "headline": "{{ substr (.Description | markdownify | plainify) 0 110 }}",{{ with .Site.Params.author }}
  "author": {
    "@type": "Person",
    "name": "{{.}}"
  },{{end}}
  "image": [{{ if $logo }}{"@type":"ImageObject","url":"{{ $logo.url | absURL }}","width":{{$logo.width}},"height":{{$logo.height}}}{{ if $images }},{{ end }}{{ end }}{{ range $index, $img := $images }}{{ if $index }},{{end}}{"@type": "ImageObject","url":"{{$img.Permalink}}"{{ if not (hasPrefix $img.MediaType "image/svg") }},"width":{{$img.Width}},"height":{{$img.Height}}{{ end }},"caption":{{$img.Title | safeHTML | jsonify }}}{{ end }}],
  {{ $.Scratch.Add "keywords" slice -}}
  {{- range .Params.tags }}{{ $.Scratch.Add "keywords" . }}{{ end -}}
  {{- range .Params.categories }}{{ $.Scratch.Add "keywords" . }}{{ end -}}
  {{ with $.Scratch.Get "keywords" }}"keywords":"{{ delimit (uniq (sort .)) " " }}",{{ end }}
  "wordcount": "{{ .WordCount }}",
  {{ if not .PublishDate.IsZero }}"datePublished": "{{ .PublishDate.Format $ISO8601 | safeHTML }}",{{end}}
  {{ if not .Lastmod.IsZero }}"dateModified": "{{ .Lastmod.Format $ISO8601 | safeHTML }}",{{end}}
  "articleBody": {{ .Plain | jsonify }},
  "mainEntityOfPage": "{{ .Permalink }}",
  "publisher": {
    "@type": "Organization",
    "name":"Abelo"
    {{- if $logo }},
    "logo": {"@type":"ImageObject","url":"{{ $logo.url | absURL }}","width":{{$logo.width}},"height":{{$logo.height}}}{{ end }}
  }
}
</script> {{ end }}