<h3>{{ .Site.Params.readMore | default "You may also be interested in:" }}</h3>
<ul id="post-list" class="archive readmore">
    {{ $related := .Site.RegularPages.Related . }} 
    {{ $kind := where .Site.RegularPages "Section" "!=" "" }}
    {{ $othr := where $kind "URL" "!=" .URL }}

    {{ $scratch := newScratch }}

    {{ $scratch.Add "pages" $related }}
    {{ $scratch.Add "pages" $othr }}

    {{ range $scratch.Get "pages" | first 5 }}
        <li>
            <a href="{{ .URL }}">{{ .LinkTitle }}<aside class="dates">{{ .Date.Format "Jan 2 2006" }}</aside></a>
        </li>
    {{ end }}
</ul>
